<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="/~neill/" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

.abstract    { font-size:small }

span.author  { font-weight: bold }

span.regular {  }

span.journal {  font-style: italic}

span.papertitle     { font-style: italic; font-weight: bold }

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>

<head>

<title>Matlab Machine Learning Tools Toolbox</title>

</head>



<body><div class="section">



<h1>Matlab MLTOOLS Toolbox</h1>



<p>The main objective of this toolbox is to integrate several machine learning methods with in a consistent framework which is coded in a compatible way with the methods available in the other toolboxes on this site. Whilst the other toolboxes typically reflect research projects, this toolbox reflects other researchers work or known algorithms. The code either provides 'wrappers' for other researchers code or independent implementations. Examples of code that is wrapped include LLE, Isomap, MVU, NETLAB.




    <p>The MLTOOLS software can be downloaded
    <a href="http://www.cs.man.ac.uk/neill-bin/software/downloadForm.cgi?toolbox=mltools">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.1311</b>.
    <p>As well as downloading the MLTOOLS software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  MLTOOLS software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="http://www.cs.man.ac.uk/~neill/datasets/downloadFiles/vrs0p136">DATASETS</a></td><td> 0.136</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/optimi/downloadFiles/vrs0p132">OPTIMI</a></td><td> 0.132</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/ndlutil/downloadFiles/vrs0p161">NDLUTIL</a></td><td> 0.161</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/netlab/downloadFiles/vrs3p3">NETLAB</a></td><td> 3.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/mvu/downloadFiles/vrs1p3">MVU</a></td><td> 1.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/lmvu/downloadFiles/vrs1p3">LMVU</a></td><td> 1.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/lle/downloadFiles/vrs1p0">LLE</a></td><td> 1.0</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/jdqr/downloadFiles/vrs1p0">JDQR</a></td><td> 1.0</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/isomap/downloadFiles/vrs1p0">ISOMAP</a></td><td> 1.0</td></tr>
</table>





Minor change to lvmScatterPlot to fix bug caused when minimum values were positive.



<h4>Version 0.131</h4>



Minor changes to toolbox to fix reading in of C++ code.



<h4>Version 0.13</h4>



<p>Added paramNameRegularExpressionLookup.m to regular expression match a parameter name in a model and return the associated indices. paramNameReverseLookup.m does the same thing but for the specific parameter name. Also added multimodel type, which allows for multi-task style learning of existing models. Added linear mapping type of model. 



<h4>Version 0.1291</h4>



<p>Changes to modelOutputGrad.m, modelOut.m, kbrOutputGrad.m, kbrExpandParam.m, modelOptimise.m to allow compatibility with SGPLVM and NCCA toolboxes. Added a preliminary coding of LLE. 



<p>Note that to run the LLE code you will need to download the file &quot;eigs_r11.m&quot;



<h4>Version 0.129</h4>



<p>Several changes for ICML dimensionality reduction tutorial, including adding density networks and GTM code as well as various latent variable visualisation code such as lvmTwoDPlot and lvmVisualise.



<p>Added dnet type model for GTM and density networks. Added various lvm helper files for doing nearest neighbour and plotting results for latent variable models. Added lmvu and mvu embedding wrapper. Added ppca model type. Added output gradients for model out functions (for magnification factor computation in dnet models). Added helpers for reading various models from FID mapmodel, matrix etc.).

Added rbfOutputGradX and visualisation for spring dampers type.





<h4>Version 0.128</h4>



<p>Fixed Viterbi alignment algorithm, thanks to Raquel Urtasun for pointing out the problems with it.



<p>Carl Henrik Ek added embeddings with maximum variance unfolding (landmark and normal) to the toolbox. Also several files modified by Carl Henrik to allow a single output dimension of a model to be manipulated.



<h4>Version 0.127</h4>



<p>Minor modifications including adding file modelAddDynamics to replace fgplvmAddDynamics.



<h4>Version 0.126</h4>



<p>Modified kbrParamInit to scale alpha weights and biases by number of data. Added 'dynamicsSliderChange' to lvmClassVisualise to allow visulisation of models with 'gpTime' style-dynamics.



<h4>Version 0.125</h4>



<p>Added multimodel for learning multiple indepedent models with shared parameters.



<h4>Version 0.124</h4>



<p>Added periodic RBF network and model gradient checker.



<h4>Version 0.123</h4>



<p>Minor release in line with IVM toolbox 0.4.



<h4>Version 0.122</h4>



<p>Added Hessian code for base model type and for MLP. Added Viterbi alignment code, viterbiAlign.



<h4>Version 0.121</h4>



<p>Various minor bug fixes and changes which seem to have gone undocumented.



<h4>Version 0.12</h4>



<p>Extended model type to be a generic container module for optimising any model. Added model test for testing a created model. The code is still in a bit of flux though with some design decisions not made and some code untested.



<h4>Version 0.111</h4>



<p>Fixed bug in kbr where bias parameter fields where still being referred to as b.Also acknowledged the fact that the isomap graph may not be fully connected in isomapEmbed, but don't yet deal with it properly. Finally added lleEmbed.m for wrapping the lle code.



<h4>Version 0.11</h4>



<p>Updated release for operation with FGPLVM toolbox 0.13. Structure of model creation changed and functions of the form modelOptions.m included for setting default options of the various machine learning models.



<h4>Version 0.1</h4>



<p>The first release of the toolbox with various wrappers for NETLAB functions. Also latent variable model visualisation code was moved into this toolbox.



<h2>Examples</h2>



<h3>LLE</h3>



<h4>The Swiss Roll</h4>



<p>The `swiss roll data' is often used to illustrate dimensionality reduction algorithms despite the fact that it is very unrepresentative of real data sets.



<p>In the first examples we use 1000 data points to represent the swiss roll,  <code>demSwissRollLle1.m</code> and  <code>demSwissRollLle2.m</code>.



<p><center><img src="demSwissRollLle1.png" width="49%"><img src="demSwissRollLle2.png" width="49%"><br>

<i>Left</i>:  LLE on the swiss roll data using 4 neighbours. <i>Right</i>: LLE on the swiss roll data using 8 neighbours.</center>



<p>In the next examples we use 3000 data points to represent the swiss roll,  <code>demSwissRollFullLle1.m</code> and  <code>demSwissRollFullLle2.m</code>.





<p><center><img src="demSwissRollFullLle1.png" width="49%"><img src="demSwissRollFullLle2.png" width="49%"><br>

<i>Left</i>:  LLE on the full swiss roll data using 4 neighbours. <i>Right</i>: LLE on the full swiss roll data using 8 neighbours.</center>



<h4>Oil Data</h4>



<p>The `oil data' is commonly used as a bench mark for visualisation algorithms. For more details on the data see <a href="http://www.ncrg.aston.ac.uk/GTM/3PhaseData.html">this page</a>.



<p>In these examples we used the 1000 data points from the training data for the oil,  <code>demOilLle1.m</code> and  <code>demOilLle2.m</code>.





<p><center><img src="demOilLle1.png" width="49%"><img src="demOilLle2.png" width="49%"><br>

<i>Left</i>:  LLE on the oil data using 4 neighbours, 9 errors when using classification by nearest neighbour in the latent space. <i>Right</i>: LLE on the oil data using 8 neighbours, 151 errors when using classification by nearest neighbour in the latent space.</center>





</div>



</body>

<p><center>Page updated on Thu May 14 15:54:36 2009</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

