<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="http://www.cs.man.ac.uk/~neill" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>
<head>

<title>MATLAB Motion Capture Toolbox</title>

</head>



<body><div class="section">



<h1>MATLAB Motion Capture Toolbox</h1>



The MATLAB motion capture toolbox allows loading and playing of BVH files in MATLAB. 






    <p>The MOCAP software can be downloaded
    <a href="http://www.cs.man.ac.uk/neill-bin/software/downloadForm.cgi?toolbox=mocap">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.135</b>.
    <p>As well as downloading the MOCAP software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  MOCAP software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="http://www.cs.man.ac.uk/~neill/ndlutil/downloadFiles/vrs0p16">NDLUTIL</a></td><td> 0.16</td></tr>
</table>



<p>Added visualisation files written by Carl Henrik Ek for the Human Eva data and for Ankur Agarwal's Poser generated silhouette data.



<h4>Release 0.134</h4>



<p>Bug fix release, a bug in bvh2xyz meant that if a position was included in the bvh skeleton structure for non-root nodes, the xyz positions were computed incorrectly. Thanks to Richard Widgery and Christopher Hulbert for identifying this problem. 



<p>horse.bvh removed due to copyright reasons. To obtain a license for this file, and plenty of other motion capture data of horses, please contact Richard Widgery of Kinetic Impulse.



<h4>Release 0.133</h4>



<p>This release is a bug fix release, to deal with bugs in mocapResultsCppBvh, thanks to Cedric Vanaken for pointing out the problem.



<h4>Release 0.132</h4>



<p>Moved tree handling code into NDLUTIL toolbox, version 0.156.



<h4>Release 0.131</h4>



<p>This release fixes a bug where the left was displayed on the right and vice versa.



<h4>Release 0.13</h4>



<p>New in this release is the ability to load data in the acclaim ASF/AMC format. See the example below for details.





<h2>Examples</h2>



Once downloaded you can try loading a BVH data set from the examples directory.



<p><code>&gt;&gt; [skel, channels, frameLength] = bvhReadFile('examples/Swagger.bvh');<br>

&gt;&gt;</code>



<p>This motion capture data was taken from Ohio State University's <a href="http://accad.osu.edu/research/mocap/mocap_data.htm">ACCAD</a> centre. 



<p>You can now play the data using the command



<p><code>&gt;&gt; skelPlayData(skel, channels, frameLength);</code>



<p>You can also download and read data in the Acclaim format (asf/amc). In the example below we load a nd play data from the <a href="http://mocap.cs.cmu.edu">CMU Graphics Lab Motion Capture Database</a>. We use the tenth example from the 86th subject. We have assumed that you have placed the files in the <code>examples</code> subdirectory.



<p><code>&gt;&gt; skel = acclaimReadSkel('examples/86.asf');<br>

&gt;&gt; [channels, skel] = acclaimLoadChannels('examples/86_10.amc', skel);<br>

&gt;&gt; skelPlayData(skel, channels, 1/120);<br>

&gt;&gt;<br>

</code>



<p>Where the frames per second is given on the CMU site as 120.



<p><center>Page updated on Tue Oct 21 10:52:34 2008</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

