<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="/~neill/" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

.abstract    { font-size:small }

span.author  { font-weight: bold }

span.regular {  }

span.journal {  font-style: italic}

span.papertitle     { font-style: italic; font-weight: bold }

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>

<head>

<title>Multi-output Gaussian Processes - MATLAB Software</title>

</head>



<body><div class="section">



<h1>Multi-output Gaussian Process Software</h1>



<p>This page describes examples of how to use the Multi-output Gaussian Process

Software (MULTIGP).




    <p>The MULTIGP software can be downloaded
    <a href="http://www.cs.man.ac.uk/neill-bin/software/downloadForm.cgi?toolbox=multigp">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.11</b>.
    <p>As well as downloading the MULTIGP software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  MULTIGP software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="http://www.cs.man.ac.uk/~neill/netlab/downloadFiles/vrs3p3">NETLAB</a></td><td> 3.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/optimi/downloadFiles/vrs0p132">OPTIMI</a></td><td> 0.132</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/mltools/downloadFiles/vrs0p1311">MLTOOLS</a></td><td> 0.1311</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/kern/downloadFiles/vrs0p222">KERN</a></td><td> 0.222</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/ndlutil/downloadFiles/vrs0p161">NDLUTIL</a></td><td> 0.161</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/gp/downloadFiles/vrs0p132">GP</a></td><td> 0.132</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/mocap/downloadFiles/vrs0p135">MOCAP</a></td><td> 0.135</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/datasets/downloadFiles/vrs0p136">DATASETS</a></td><td> 0.136</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/voicebox/downloadFiles/vrs1p12">VOICEBOX</a></td><td> 1.12</td></tr>
</table>



<h2>Release Notes</h2>



<h3>Current Release</h3>



Updates to allow variational outputs for working with latent functions that are white noise processes.



<h4>Version 0.1</h4>

<p>This is the very first version of the multi-ouput Gaussian Process toolbox. It shows toy examples for

a full covariance model and two approximations proposed in the paper <a

href="ftp://ftp.cs.man.ac.uk/pub/ai/neill/spmulti.pdf">Sparse Convolved Gaussian Processes 

for Multi-ouput regression</a>



<h2>Examples</h2>





<h3>Multi-output Gaussian process using a Gaussian kernel and a Gaussian covariance function</h3>



<p>This example shows how it is possible to make multiple regression over four outputs using

a Gaussian process constructed with the convolution process approach. Note that there are some ranges of

missing data for outputs one and four. 



<p><code>

&gt;&gt; demGpToy1

</code>



<p><center><img src="Toy_predictionFTC2.png" width ="50%"><img

src="Toy_predictionFTC5.png" width ="50%"><br> <i>Left</i> First output in the four outputs of the demo. <i>Right</i> Fourth

 output for the same example. </center>





<h3>Multi-output Gaussian process using the PITC approximation and the FITC approximation</h3>



<p> In the  <a href="ftp://ftp.cs.man.ac.uk/pub/ai/neill/spmulti.pdf">paper</a>, two approximations that exploit

conditional independencies in the model were proposed. Due to their similarities 

with the PITC and FITC approximations for the one output case, these multi-output approximations are named in a similar way. For PITC run 



<p><code>

&gt;&gt; demSpmgpGgToy1

<code>

<p>For FITC run 



<p><code>

&gt;&gt; demSpmgpGgToy2

<code>



<p><center><img src="toyPredictionPITC2.png" width ="50%"><img

src="toyPredictionPITC5.png" width ="50%"><br> <img src="toyPredictionFITC2.png" width ="50%"><img

src="toyPredictionPITC5.png" width ="50%"><br><i>Up</i> The same two outputs using PITC <i>Down</i> The

 same two outputs using FITC.  </center>







<h3>Multi-ouput Gaussian processes for the Swiss Jura Dataset</h3>



The experiment for the Swiss Jura Dataset using the full covariance matrix can be recreated using 

( you will need to obtain the files prediction.dat and validation.dat from <a

href="http://goovaerts.pierre.googlepages.com/">here</a>. Go to the Publications link and then to the Book link) 



<p><code>

&gt;&gt; demGgJura

</code>



<p>The result with the approximation can be recreated using



<p><code>

&gt;&gt; demSpmgpGgJura

</code>



<p><center><img src="figureCd.png" width ="50%"><img

src="figureCu.png" width ="50%"><br> Mean absolute error and standard deviation for ten repetitions of the experiment for the Jura dataset

In the bottom of each figure, IGP stands for independent GP, P(M) stands for PITC with M inducing values,

FGP stands for full GP and CK stands for ordinary co-kriging. On the left, regression over Cadmium (Cd) and on the  

rigth, regression over Copper (Cu) </center>



</div>

</body>

<p><center>Page updated on Wed Jun 10 22:34:23 2009</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

