<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="/~neill/" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

.abstract    { font-size:small }

span.author  { font-weight: bold }

span.regular {  }

span.journal {  font-style: italic}

span.papertitle     { font-style: italic; font-weight: bold }

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>

<head>

<title>MATLAB Gaussian Process Transcrption Factor Target Ranking Toolbox</title>

</head>



<body><div class="section">



<h1>MATLAB Gaussian Process Transcrption Factor Target Ranking Toolbox</h1>



<p>This page contains a MATLAB implementation of the transcription

factor target ranking methodology based on Gaussian process

differential equation models.



<p>An R implementation of the same methods is available from the

authors upon request.



<h2>Author information</h2>



This package was created by <a

href="http://users.ics.tkk.fi/ahonkela/">Antti Honkela</a>.




    <p>The DISIMRANK software can be downloaded
    <a href="/neill-bin/software/downloadForm.cgi?toolbox=disimrank">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.11</b>.
    <p>As well as downloading the DISIMRANK software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  DISIMRANK software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="/~neill/netlab/downloadFiles/vrs3p3">NETLAB</a></td><td> 3.3</td></tr>
<tr><td><a href="/~neill/optimi/downloadFiles/vrs0p132">OPTIMI</a></td><td> 0.132</td></tr>
<tr><td><a href="/~neill/ndlutil/downloadFiles/vrs0p161">NDLUTIL</a></td><td> 0.161</td></tr>
<tr><td><a href="/~neill/mltools/downloadFiles/vrs0p134">MLTOOLS</a></td><td> 0.134</td></tr>
<tr><td><a href="/~neill/kern/downloadFiles/vrs0p225">KERN</a></td><td> 0.225</td></tr>
<tr><td><a href="/~neill/prior/downloadFiles/vrs0p22">PRIOR</a></td><td> 0.22</td></tr>
<tr><td><a href="/~neill/gpsim/downloadFiles/vrs0p1211">GPSIM</a></td><td> 0.1211</td></tr>
</table>



<p>Minor fix to demPlotMef2Models.m.



<h3>Version 0.1</h3>



<p>This version includes scripts used to run the experiments in the

PNAS paper.



<h2>Data</h2>



<p>The PNAS experiments depend on a <a href="dros_data.mat">Drosophila

data set</a> (35 MB), which includes a pre-processed version of the <a

href="http://www.fruitfly.org">developmental expression time series

data</a> of Tomancak et al. as well as various <a

href="http://furlonglab.embl.de/data/">validation data sets</a>.  We

thank Dr. Tomancak for the kind permission to redistribute the data.



<h2>Examples</h2>



<p>In order to run the demos, you need the above Drosophila data set.

The command <code>drosLoadData</code> (also used internally by many of

the scripts) will attempt to load it from the current working

directory and its subdirectory <code>data</code>.



<p>Models can be fitted for individual genes and the

results visualised using the command



<p><code>&gt; &gt; demPlotModels<br>

&gt;&gt;<br>

</code>



<p>This will create independent visualisations of model for the

three repeated experiments, the last of which are:<br>

<img src="twi_singletarget.png" alt="Single-target model visualisation"><br>

<img src="twi_multitarget.png" alt="Multiple-target model visualisation">



<p>The package can also be used to rerun the rankings reported in the

paper.  This is a time-consiming process that may take several days in

serial execution.  If desired, these may nevertheless be run using

the command



<p><code>&gt; &gt; demRunRankings<br>

&gt;&gt;<br>

</code>

<p><center>Page updated on Thu Apr 15 12:13:57 2010</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

