<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="/~neill/" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

.abstract    { font-size:small }

span.author  { font-weight: bold }

span.regular {  }

span.journal {  font-style: italic}

span.papertitle     { font-style: italic; font-weight: bold }

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>

<head>

<title>Matlab Kernel Toolbox - Examples</title>

</head>



<body><div class="section">



<h1>Matlab Kernel Toolbox</h1>




    <p>The KERN software can be downloaded
    <a href="http://www.cs.man.ac.uk/neill-bin/software/downloadForm.cgi?toolbox=kern">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.222</b>.
    <p>As well as downloading the KERN software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  KERN software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="http://www.cs.man.ac.uk/~neill/optimi/downloadFiles/vrs0p132">OPTIMI</a></td><td> 0.132</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/ndlutil/downloadFiles/vrs0p161">NDLUTIL</a></td><td> 0.161</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/netlab/downloadFiles/vrs3p3">NETLAB</a></td><td> 3.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/erfcxz/downloadFiles/vrs0p001">ERFCXZ</a></td><td> 0.001</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/erfz/downloadFiles/vrs0p001">ERFZ</a></td><td> 0.001</td></tr>
</table>



<h3>Version 0.221</h3>



Fixed code for reading in kernels from C++ files.



<h3>Version 0.22</h3>



Added Wiener kernel and various kernels for multi output kernels

including white noise being propagated through the first and second

order differential equation. 



<h3>Version 0.21</h3>



Compatibility changes for NCCA and SGPLVM toolboxes.





<h3>Version 0.2</h3>



<p>Further minor updates to kern for working with the new gpsim code (corrected handling of white kernel in multiKern).



<h3>Version 0.171</h3>



<p>Minor changes to kernCreate for multiKern structures where there are different numbers of points in each block.



<h3>Version 0.17</h3>



<p>Further improvements on the stability of the sim kernel. Addition of the driven input single input motif kernel (Antti Honkela) and the modification of the multiKern type to allow each block to have a different number of time points (Pei Gao).



<h3>Version 0.168</h3>



<p>Found a bug in tensor gradient which meant gradients weren't being computed correctly with respect to X when more X and X2 are both provided as input arguments and both have length larger than 1. 



<p>Antti Honkela improved the numerial stability of the sim kernel through judicious use of erfc.



<h3>Version 0.167</h3>



<p>Added 'translate' kernel which allows wrapping of other kernels with a kernel that translates the input location. Useful for moving the non-stationarity around the input space.



<h3>Version 0.166</h3>



<p>Added periodic version of RBF kernel (see Rasmussen and Williams pg 92 or Mackay's introduction to GPs (1998)) and periodic version of Gibbs's non-statinary kernel (see e.g. pg 93 of Rasmussen and Williams).



<h3>Version 0.165</h3>



<p>Added flag which indicates whether or not a kernel is stationary. This can be used for speeding computations (stationary kernels have a constant diagonal). Also replaced calls to constraining functions with 'optimiDefaultConstraint' calls which return the default constraint (making it easier for the user to change).



<h3>Version 0.163</h3>



<p>This release removes the stubs for several KernDiagGradX.m files, which

were confusing kernDiagGradX.m, which assumes they only exist if the function

is implemented. For the kernel types 'lin', 'poly', 'mlp', and their 'ard'

counter-types, these files existed but weren't yet implemented.



<h3>Version 0.162</h3>



<p>Added the Gibbs's non-stationary kernel, the rational quadratic kernel and the Matern kernel with nu = 3/2 and nu = 5/2.



<h3>Verison 0.161</h3>



<p>Introduced the single input motif kernel for the GPSIM

toolbox. Also there is much more documentation, and a new file

kernelGenerator.py for creating the basic files for your own kernels. 



<h2>Examples</h2>



<p>This toolbox allows computation of several different kernels and their gradients. You can add kernels to the toolbox by creating versions of the relevant files. Once added, they can be tested using the <code>kernTest</code>. For example you can test the RBF kernel by writing



<p><code>&gt;&gt; kernTest('rbf')</code>



<p>There are several kernels implemented, the ones that are being maintained for the latest release are:



<p><code>

gibbs

gibbsperiodic

lin

linard

rbf

rbfard

rbfperiodic

matern32

matern52

ratquad

mlp

mlpard

poly

polyard

sim

lfm

disim

white

whitefixed

bias

cmpnd

wiener

gg

ou

lfmwhite

simwhite

ggwhite

gaussianwhite

gaussian

tensor (tensor kernels).

file (a kernel written in a file).

</code>



<p>A new kernel can be created using the compound kernel, <code>cmpnd</code> or the tensor kernel, <code>tensor</code>. The compound kernel is made up of sums of individual kernels. Most often you will need to create a kernel containing a base kernel (e.g. <code>rbf</code>) and adding a white noise kernel, <code>white</code> and perhaps a constant offset through the bias kernel <code>bias</code>. On initialisation most kernel parameters are set to 1. Exceptions are ARD scale parameters, the variance of the white and bias kernels and the weight and bias variances of the <code>mlp</code> kernels.

</div></body>



<h2>LFM Kernel</h2>



<h3>FORTRAN Compiler for LFM Kernel</h3>



<p>To install the compiler



<ol>

<li>Go to  <a href="http://www.g95.org/downloads.shtml">http://www.g95.org/downloads.shtml</a> and download the binary version suitable for your computer and operating system or compile the source code.</li>

<li>In MATLAB, write

   

<p><code>

&gt;&gt;  mex -setup

</code>



<p>Then choose option 1 and make a copy <code>mexopts.sh</code> in your local directory. Change the name to <code>g95opts.sh</code> or whatever you prefer.</li>



<li> Modify myopts.sh following the instructions in  <a href="http://www.g95.org/howto.shtml#matlab">http://www.g95.org/howto.shtml#matlab</a></li>

<li> When compiling in MATLAB, use the -f command to use your local <code>g95opts.sh</code> file, for example:



<p><code>

&gt;&gt; mex -f myopts.sh lfmComputeUpsilonMatrix.f

</code>

</li>





 

<p><center>Page updated on Fri Jun  5 23:09:10 2009</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

