<head>

<meta name="description" content="">

<meta name="keywords" content="">

<meta name="author" content="">





</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">





<table border="0" cellpadding="0" cellspacing="0" align="right">

<tr>

<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Homepage';

 return true"

 onmouseout ="window.status=''; return true" href="/~neill/" >

Neil's homepage</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->



</td>



<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='Research Group';

 return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/" >

research group</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>





<td><!--***************************************************************************************-->

<A onmouseover="window.status&#13;&#10;='People

 in the group'; return true"

 onmouseout ="window.status=''; return true" href="http://intranet.cs.man.ac.uk/mlo/people/" >

MLO Researchers</A>&nbsp;&nbsp;<font color="#660099">|</font>&nbsp;&nbsp; <!--***************************************************************************************-->

</td>



</tr>

</table>



<table border="0" cellpadding="0" cellspacing="0" width="436">



<tr>

<td width="47" valign="top"><!--***************************************************************************************-->&nbsp; 

<!--***************************************************************************************-->

</td>

<td><!--***************************************************************************************-->

<a href="http://www.manchester.ac.uk/"

 onMouseOver 

="window.status='image1'; return true"

 onMouseOut="window.status=''; return true" 

      align="right" valign  ="top" 

     ; <P 

     ><IMG alt="University Logo" title="Manchester Est. 1824" src="http://www.cs.manchester.ac.uk/ai/pictures/icons/est1824.gif"> <!--***************************************************************************************-->

</td></tr></table></body>

<head>

   <link href="http://intranet.cs.man.ac.uk/css/_print.css"

    type="text/css" rel="stylesheet" media="print" />



    <link href="http://intranet.cs.man.ac.uk/css/_base.css"

    type="text/css" rel="stylesheet" media="screen" />

    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    @import url(http://intranet.cs.man.ac.uk/css/_layout.css);

    @import url(http://intranet.cs.man.ac.uk/css/_navigation.css);

    @import url(http://intranet.cs.man.ac.uk/css/_forms.css);

    @import url(http://intranet.cs.man.ac.uk/css/_boxes.css);

    -->

    /*]]>*/



    .currentsection  {

	 background-color: #f0f0ff; 

	 color:#000;

	 display: block; 

	 font-weight:normal;

	 padding: 4px 4px 5px 4px;

	 text-decoration:none; 

    }

    .multilevel-linkdiv-0 {

	 background-color: #f0f0ff; 

	 margin-left: 1.0em;

         text-align: left

    }

    a.greylink:link    { color: #c0c0c0; }

    a.greylink:visited { color: #d0d0d0; }

		

    .lined {

	 border-style: solid;

	 border-color: #006073;

	 border-bottom-width: 0px;

	 border-top-width: 1px;

	 border-left-width: 0px;

	 border-right-width: 0px;

    }

    table, caption {

      font-size: inherit;

      font-weight: inherit;

      font-style: inherit;

      font-variant: inherit;

    }

    </style>



    <style type="text/css" media="screen">

    /*<![CDATA[*/

    <!--

    .section {margin-left: 4em}

    body { background-image: url(http://intranet.cs.man.ac.uk/ai//pictures/icons/logoleft.gif); }

    div.locator { background-color: #6666cc; background-image: url(); background-repeat: no-repeat; border: none; margin: 1px 0 0 0; padding: 0; width: 184px; height: 92px; }

    -->

    /*]]>*/

    </style>

<!--  End of Style Sheet CSS -->

</head>
<head>

<title>Gaussian Processes - MATLAB Software</title>

</head>



<body><div class="section">



<h1>Gaussian Process Software</h1>



<p>This page describes examples of how to use the Gaussian Process

Software (GP).




    <p>The GP software can be downloaded
    <a href="http://www.cs.man.ac.uk/neill-bin/software/downloadForm.cgi?toolbox=gp">here</a>.
    <h2>Release Information</h2>
    <p><b>Current release is 0.132</b>.
    <p>As well as downloading the GP software you need to obtain the toolboxes specified below. <b>These can be downloaded using the <i>same</i> password you get from registering for the  GP software.</b>
    <table>
    <tr>
    <td width="65%"><b>Toolbox</b></td>
    <td width="35%"><b>Version</b></td>
    </tr><tr><td><a href="http://www.cs.man.ac.uk/~neill/netlab/downloadFiles/vrs3p3">NETLAB</a></td><td> 3.3</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/mocap/downloadFiles/vrs0p135">MOCAP</a></td><td> 0.135</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/ndlutil/downloadFiles/vrs0p16">NDLUTIL</a></td><td> 0.16</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/prior/downloadFiles/vrs0p22">PRIOR</a></td><td> 0.22</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/mltools/downloadFiles/vrs0p131">MLTOOLS</a></td><td> 0.131</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/optimi/downloadFiles/vrs0p132">OPTIMI</a></td><td> 0.132</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/datasets/downloadFiles/vrs0p135">DATASETS</a></td><td> 0.135</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/kern/downloadFiles/vrs0p221">KERN</a></td><td> 0.221</td></tr>
<tr><td><a href="http://www.cs.man.ac.uk/~neill/noise/downloadFiles/vrs0p14">NOISE</a></td><td> 0.14</td></tr>
</table>



<p>Examples transfered from oxford toolbox, variational approximation from Titsias added as an option with 'dtcvar'.



<h3>Version 0.131</h3>



<p>Changes to allow compatibility with SGPLVM and NCCA toolboxes.



<h3>Version 0.13</h3>



<p>Changes to allow more flexibility in optimisation of beta.



<h3>Version 0.12</h3>



<p>Various minor changes for enabling back constraints in hierarchical

GP-LVM models.



<h3>Version 0.11</h3>



<p>Changes include the use of the optimiDefaultConstraint('positive') to

obtain the function to constrain beta to be positive (which now

returns 'exp' rather than 'negLogLogit' which was previously the

default). Similarly default optimiser is now given by a command in

optimiDefaultOptimiser.



<h3>Version 0.1</h3>



<p>The first version which is spun out of the FGPLVM toolbox. The

corresponding FGPLVM toolbox is 0.15.





<p>Release 0.1 splits away the Gaussian process section of the FGPLVM

toolbox into this separate toolbox.



<h2>Other GP related software</h2>



<p>The GP-LVM C++ software is available from <a

href="/~neill/gplvmcpp/">here</a>.



<p>The IVM C++ software is available from <a

href="/~neill/ivmcpp/">here</a>.



<p>The MATLAB IVM toolbox is available here <a

href="/~neill/ivm/">here</a>.



<p>The original MATLAB GP-LVM toolbox is available here <a

href="/~neill/gplvm/">here</a>.





<h2>Examples</h2>





<h3>Functions from Gaussians</h3>



<p>This example shows how points which look like they come from a

function to be sampled from a Gaussian distribution. The sample is 25

dimensional and is from a Gaussian with a particular covariance.



<p><code>

&gt;&gt; demGpSample

</code>



<p><center><img src="gpSample.png" width ="50%"><img

src="gpCovariance.png" width ="50%"><br> <i>Left</i> A single, 25

dimensional, sample from a Gaussian distribution. <i>Right</i> the

covariance matrix of the Gaussian distribution..  </center>





<h3>Joint Distribution over two Variables</h3>



<p>Gaussian processes are about conditioning a Gaussian distribution

on the training data to make the test predictions. To illustrate this

process, we can look at the joint distribution over two variables.



<p>&gt;&gt; demGpCov2D([1 2])



<p>Gives the joint distribution for <i>f</i><sub>1</sub> and

<i>f</i><sub>2</sub>. The plots show the joint distributions as well

as the conditional for <i>f</i><sub>2</sub> given

<i>f</i><sub>1</sub>.



<p><center><img src="demGpCov2D1_2_3.png" width ="50%"><img

src="demGpCov2D1_5_3.png" width ="50%"><br> <i>Left</i> Blue line is

contour of joint distribution over the variables <i>f</i><sub>1</sub>

and <i>f</i><sub>2</sub>. Green line indicates an observation of

<i>f</i><sub>1</sub>. Red line is conditional distribution of

<i>f</i><sub>2</sub> given <i>f</i><sub>1</sub>. <i>Right</i> Similar

for <i>f</i><sub>1</sub> and <i>f</i><sub>5</sub>.  </center>







<h3>Different Samples from Gaussian Processes</h3>



A script is provided which samples from a Gaussian process with the

provided covariance function.



<p><code>

&gt;&gt; gpSample('rbf', 10, [1 1], [-3 3], 1e5)

</code>



<p>will give 10 samples from an RBF covariance function with a

parameter vector given by [1 1] (inverse width 1, variance 1) across

the range -3 to 3 on the <i>x</i>-axis. The random seed will be set to

1e5.



<p><code>

&gt;&gt; gpSample('rbf', 10, [16 1], [-3 3], 1e5)

</code>



<p>is similar, but the inverse width is now set to 16 (length scale 0.25).



<p><center><img

src="gpSampleRbfSamples10Seed100000InverseWidth1Variance1.png" width

="50%"><img

src="gpSampleRbfSamples10Seed100000InverseWidth16Variance1.png" width

="50%"><br> <i>Left</i> samples from an RBF style covariance function

with length scale 1. <i>Right</i> samples from an RBF style covariance

function with length scale 0.25.  </center>



<p>Other covariance functions can be sampled, an interesting one is

the MLP covariance which is non stationary and can produce point

symmetric functions,





<p><code>

&gt;&gt; gpSample('mlp', 10, [100 100 1], [-1 1], 1e5)

</code>



gives 10 samples from the MLP covariance function where the &quot;bias

variance&quot; is 100 (basis functions are centered around the origin

with standard deviation of 10) and the &quot;weight variance&quot; is

100.



<p><code>

&gt;&gt; gpSample('mlp', 10, [100 1e-16 1], [-1 1], 1e5)

</code>



gives 10 samples from the MLP covariance function where the &quot;bias

variance&quot; is approximately zero (basis functions are placed on

the origin) and the &quot;weight variance&quot; is 100.



<p><center><img

src="gpSampleMlpSamples10Seed100000WeightVariance100BiasVariance100Variance1.png"

width ="50%"><img

src="gpSampleMlpSamples10Seed100000WeightVariance100BiasVariance1e-16Variance1.png"

width ="50%"><br> <i>Left</i> samples from an MLP style covariance

function with bias and weight variances set to 100. <i>Right</i>

samples from an MLP style covariance function with weight variance 100

and bias variance approximately zero.  </center>





<h3>Posterior Samples</h3>



<p>Gaussian processes are non-parametric models. They are specified by their covariance function and a mean function. When combined with data observations a posterior Gaussian process is induced. The demos below show samples from that posterior.



<p><code>

&gt;&gt;  gpPosteriorSample('rbf', 5, [1 1], [-3 3], 1e5)

</p>



and 



<p><code>

&gt;&gt;  gpPosteriorSample('rbf', 5, [16 1], [-3 3], 1e5)

</p>



<p><center><img

src="gpPosteriorSampleRbfSamples5Seed100000InverseWidth1Variance1bw.png" width

="50%"><img

src="gpPosteriorSampleRbfSamples5Seed100000InverseWidth16Variance1bw.png" width

="50%"><br> <i>Left</i> samples from the posterior induced by an RBF style covariance function

with length scale 1 and 5 &quot;training&quot; data points taken from a sine wave. <i>Right</i> Similar but for a length scale of 0.25.  </center>











<h3>Simple Interpolation Demo</h3>





<p>This simple demonstration plots, consecutively, an increasing

number of data points, followed by an interpolated fit through the

data points using a Gaussian process. This is a noiseless system, and

the data is sampled from a GP with a known covariance function. The

curve is then recovered with minimal uncertainty after only nine data

points are included. The code is run with



<p><code>

&gt;&gt; demInterpolation

</code>



<p><center><img src="demInterpolation3.png" width ="50%"><img

src="demInterpolation4.png" width ="50%"><br>



Gaussian process prediction <i>left</i> after two points with a new

data point sampled <i>right</i> after the new data point is included

in the prediction.<br> 



<img src="demInterpolation7.png" width

="50%"><img src="demInterpolation8.png" width ="50%"><br>



Gaussian process prediction <i>left</i> after five points with a four

new data point sampled <i>right</i> after all nine data points are

included.<br> </center>



<h3>Simple Regression Demo</h3>



<p>The regression demo very much follows the format of the

interpolation demo. Here the difference is that the data is sampled

with noise. Fitting a model with noise means that the regression will

not necessarily pass right through each data point.



The code is run with



<p><code>

&gt;&gt; demRegression

</code>





<p><center><img src="demRegression3.png" width ="50%"><img

src="demRegression4.png" width ="50%"><br>



Gaussian process prediction <i>left</i> after two points with a new

data point sampled <i>right</i> after the new data point is included

in the prediction.<br> <img src="demRegression7.png" width ="50%"><img

src="demRegression8.png" width ="50%"><br>



Gaussian process prediction <i>left</i> after five points with a four

new data point sampled <i>right</i> after all nine data points are

included.<br> </center>



<h3>Optimizing Hyper Parameters</h3>



<p>One of the advantages of Gaussian processes over pure kernel

interpretations of regression is the ability to select the hyper

parameters of the kernel automatically. The demo



<p><code>

&gt;&gt; demOptimiseGp

</code>



<p>shows a series of plots of a Gaussian process with different length

scales fitted to six data points. For each plot there is a

corresponding plot of the log likelihood. The log likelihood peaks for

a length scale equal to 1. This was the length scale used to generate

the data.



<p><center><img src="demOptimiseGp1.png" width ="33%"><img

src="demOptimiseGp3.png" width ="33%"><img src="demOptimiseGp5.png"

width ="33%"><br><img src="demOptimiseGp7.png" width ="33%"><img

src="demOptimiseGp9.png" width ="33%"><img src="demOptimiseGp11.png"

width ="33%"><br><img src="demOptimiseGp13.png" width ="33%"><img

src="demOptimiseGp15.png" width ="33%"><img src="demOptimiseGp17.png"

width ="33%"><br>From top left to bottom right, Gaussian process

regression applied to the data with an increasing length scale. The

length scales used were 0.05, 0.1, 0.25, 0.5, 1, 2, 4, 8 and

16.<br><img src="demOptimiseGp18.png" width ="50%"><br>Log-log plot of

the log likelihood of the data against the length scales. The log

likelihood is shown as a solid line. The log likelihood is made up of

a data fit term (the quadratic form) shown by a dashed line and a

complexity term (the log determinant) shown by a dotted line. The data

fit is larger for short length scales, the complexity is larger for

long length scales. The combination leads to a maximum around the true

length scale value of 1.</center>



<h3>Regression over Motion Capture Markers</h3>



<p>As a simple example of regression for real data we consider a motion capture data set. The data is <a href="http://accad.osu.edu/research/mocap/mocap_data.htm">from Ohio State University</a>. In the example script we perform Gaussian process regression with time as the input and the x,y,z position of the marker attached to the left ankle. To demonstrate the behavior of the model when the marker is lost, we remove data from This code can be run with



<p><code> &gt;&gt; demStickGp1 </code> 



<p>The code will optimize hyper parameters and show plots of the posterior process through the training data and the missing test points.



<p>The result of the script is given in the plot below.  



<p><center><img src="demStickGp1Out1.png" width

="30%"> <img src="demStickGp1Out2.png" width

="30%"> <img src="demStickGp1Out3.png" width

="30%"><br> Gaussian process regression through the x (left), y (middle) and z (right) position of the left ankle. Training data is shown as black spots, test points removed to simulate a lost marker are shown as circles, posterior mean

prediction is shown as a black line and two standard deviations are

given as grey shading.</center>



<p>Notice how the error bars are tight except in the region where the training data is missing and in the region where the training data disappears.



<h3>Sparse Pseudo-input Gaussian Processes</h3>



<p>The sparse approximation used in this toolbox is based on the

Sparse Pseudo-input Gaussian Process model described by <a

href="/neill-bin/publications/bibpage.cgi?keyName=Snelson:pseudo05&printAbstract=1">Snelson

and Ghahramani</a>. Also provided are the extensions suggested by <a

href="/neill-bin/publications/bibpage.cgi?keyName=Quinonero:unifying05">Qui&ntilde;onero-Candela

and Rasmussen</a>. They provide a unifying terminology for describing

these approximations which we shall use in what follows.



<p>There are three demos provided for Gaussian process regression in

1-D. They each use a different form of likelihood approximation. The

first demonstration uses the &quot;projected latent variable&quot;

approach first described by <a

href="/neill-bin/publications/bibpage.cgi?keyName=Csato:sparse02&printAbstract=1">Csato

and Opper</a> and later used by <a

href="/neill-bin/publications/bibpage.cgi?keyName=Seeger:fast03&printAbstract=1">Seeger

<i>et al.</i></a>. In the terminology of Qui&ntilde;onero-Candela and

Rasmussen (QR-terminology) this is known as the &quot;deterministic

training conditional&quot; (DTC) approximation.



<p>To use this approximation the following script can be run.



<p><code> &gt;&gt; demSpgp1d1 </code> 



<p>The result of the script is

given in the plot below.  



<p><center><img src="demSpgp1d1.png" width

="50%"><br> Gaussian process using the DTC approximation with nine

inducing variables. Data is shown as black spots, posterior mean

prediction is shown as a black line and two standard deviations are

given as grey shading.</center>



<p>The improved approximation suggested by Snelson and Ghahramani, in

QR-terminology this is known as the fully independent training

conditional (FITC). To try this approximation run the following script



<p><code> &gt;&gt; demSpgp1d2 </code>



<p>The result of the script is given on the left of the plot below.



<p><center><img src="demSpgp1d2.png" width="49%"><img

src="demSpgp1d3.png" width="49%"><br>



<i>Left</i>: Gaussian process using the FITC approximation with nine

inducing variables. Data is shown as black spots, posterior mean

prediction is shown as a black line and two standard deviations are

given as grey shading. <i>Right</i>: Similar but for the PITC

approximation, again with nine inducing variables.</center>



<p>At the <a href="http://www.dcs.shef.ac.uk/ml/gprt/">Sheffield

Gaussian Process Round Table</a> Lehel Csato pointed out that the

Bayesian Committee Machine of <a

href="/neill-bin/publications/bibpage.cgi?group=bcm&printAbstract=1">Schwaighofer

and Tresp</a> can also be viewed within the same framework. This idea

is formalised in <a

href="/neill-bin/publications/bibpage.cgi?keyName=Quinonero:unifying05&printAbstract=1">Qui&ntilde;onero-Candela

and Rasmussen's</a> review. This approximation is known as the

&quot;partially independent training conditional&quot; (PITC) in

QR-terminology. To try this approximation run the following script



<p><code>

&gt;&gt; demSpgp1d3

</code>



<p>The result of the script is given on the right of the plot above.



<p>Finally we can compare these results to the result from the full

Gaussian process on the data with the correct hyper-parameters. To do

this the following script can be run.



<p><code>

&gt;&gt; demSpgp1d4

</code>



<p>The result of the script is given in the plot below.



<p><center><img src="demSpgp1d4.png" width="50%"><br> Full Gaussian

process on the toy data with the correct hyper-parameters. Data is

shown as black spots, posterior mean prediction is shown as a black

line and two standard deviations are given as grey shaded

area.</center>



</div>

</body>

<p><center>Page updated on Fri Apr 17 17:56:55 2009</center><!-- footer -->



<body>

    <div id="footer">

      <div class="links">

        <p>

          | 

          <a href="http://www.manchester.ac.uk/aboutus/documents/disclaimer/"

             title="Disclaimer">Disclaimer</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/privacy/"

             title="Privacy">Privacy</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/copyright/"

             title="Copyright Notice">Copyright notice</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/accessibility/"

             title="Accessibility">Accessibility</a> |

             <a href="http://www.manchester.ac.uk/aboutus/documents/foi/"

             title="Freedom of information">Freedom of information</a> | 

             <a href="http://www.manchester.ac.uk/aboutus/contact/feedback/"

             title="Feedback">Feedback</a> |

        </p>



      </div>

      <div class="pagestatus">

        <p>Please contact

          <a href="mailto:webmaster.cs@manchester.ac.uk">webmaster.cs@manchester.ac.uk</a>

          with comments and suggestions

        </p>

      </div>

    </div>



  </body>

